<div class="container">
    <h2>Calculo salario por semana</h2>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar"
      [(ngModel)]="filterPost"
      name="filterPost"
    />
    <br>
    <table>
      <thead>
        <tr>
          <th>ID&nbsp;&nbsp;</th>
          <th>Identificación del técnico&nbsp;&nbsp;</th>
          <th>Nombre&nbsp;&nbsp;</th>

          <th>Hora Normal&nbsp;&nbsp;</th>
          <th>Hora Nocturna&nbsp;&nbsp;</th>
          <th>Hora Dominical&nbsp;&nbsp;;</th>
          <th>Hora Extra Normal&nbsp;&nbsp;</th>
          <th>Hora Extra Nocturna&nbsp;&nbsp;</th>
          <th>Hora Extra Dominical&nbsp;&nbsp;</th>

        </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="
          let cal of calculatorObject | filter: filterPost;
          let i = index
        "
      >

        <td>{{ cal.id }}&nbsp;&nbsp; </td>
        <td>{{ cal.idNumberTechnician }}&nbsp;&nbsp;</td>
        <td>{{ cal.name }}&nbsp;&nbsp;</td>

        <td>{{ cal.normalHour }}&nbsp;&nbsp;</td>
        <td>{{ cal.nocturnalhour }}&nbsp;&nbsp;</td>
        <td>{{ cal.sundayHour }}&nbsp;&nbsp;</td>
        <td>{{ cal.extraNormalHour }}&nbsp;&nbsp;</td>
        <td>{{ cal.extraNocturnalHour }}&nbsp;</td>
        <td>{{ cal.extraSundayHour }}&nbsp;&nbsp;</td>

      <button class="btn btn-success" (click)="update(i)">Editar</button>
      <button class="btn btn-danger" (click)="delete(cal.id)">
      Eliminar
      </button>
    </tr>
  </tbody>
    </table>
  </div>